body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 30px;
    max-width: 500px;
    overflow: hidden;
}
#display{
       width: 450px;
       padding: 20px;
       margin-bottom: 12px;
       height: 50px;
       font-size: 3rem;
       text-align: right;
       border:2px solid;
       background-color: hsl(0, 0%, 20%);
       color: white;
}
button{
   width:100px;
   height:100px;
   border-radius: 50px;
   border: none;
   background-color: hsl(0, 0%, 30%);
   color: white;
   font-size: 3rem;
   font-weight: bold;
   cursor: pointer;
}
#keys{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 12px;
   padding: 25px;
}
button:hover{
   background-color: hsl(0, 0%, 40%);
}
button:active{
   background-color: hsl(0, 0%, 60%);
}
.op_btn{
   background-color: hsla(24, 100%, 50%, 0.925);

}
.op_btn:hover{
   background-color: hsla(24, 100%, 60%, 0.925);
   
}
.op_btn:active{
   background-color: hsla(24, 100%, 80%, 0.925);
   
}